:root {
  --blue: #1f55f8;
  --yellow: #e8ca14;
  --red: #e72525;
  --black: #010006;
}

@font-face {
  font-family: titleFont;
  src: url("Equestria-yJY2.ttf");
}

@font-face {
  font-family: bodyFont;
  src: url("BlitzwingExpanded-189Z.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: bodyFont;
  padding: 1.5625rem;
  width: 100%;
}

h1 {
  color: var(--blue);
  text-transform: uppercase;
  font-family: titleFont;
  font-size: 4.5rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

h1>span {
  color: var(--red);
}

#game {
  border-style: ridge;
  border-color: var(--yellow) var(--blue) var(--blue);
  border-width: 0px 20px 20px;
  background-color: var(--yellow);
  padding: 0.5rem;
  margin: 1.5rem;
  box-shadow: 1px 1px 0 #e8eefe, 2px 2px 0 #d2ddfd, 3px 3px 0 #bbccfc,
    4px 4px 0 #a5bbfc, 5px 5px 0 #8faafb, 6px 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
}

/* game board table */

#board {
  border-spacing: 0.5rem;
  margin-top: 2rem;
}

#board td {
  width: 3.125rem;
  height: 3.125rem;
  border: solid 1px #666;
  border-radius: 50%;
  background-color: #09194a;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-name: dropPiece;
}

@keyframes dropPiece {
  from {
    transform: translateY(-325px);
  }

  to {
    transform: translateY(0);
  }
}

.p1 {
  background-color: var(--red);
  border: 5px inset darkred;
}

.p2 {
  background-color: var(--black);
  border: 5px inset gray;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 0px var(--yellow);
}

#column-top td:hover {
  border: 2px solid red;
  cursor: pointer;
}

/* Status area */
.status {
  margin: 0.5rem;
}

.red {
  color: var(--red);
}

.black {
  color: var(--black);
}

.game-over {
  font-size: 2rem;
  /* animation: blinkingText 1.2s infinite; */
}

/* RESET Toggle - The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  box-shadow: 1px 1px 0 #ccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb,
    4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch:after {
  content: "";
  box-shadow: 1px 1px 0 #e8eefe, 2px 2px 0 #d2ddfd, 3px 3px 0 #bbccfc,
    4px 4px 0 #a5bbfc, 5px 5px 0 #8faafb, 6px 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--blue);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* small devices */
@media only screen and (max-width:576px) {
  #board td {
    width: 2.125rem;
    height: 2.125rem;
  }

  .switch {
    width: 25px;
    height: 14px;
  }

  .slider:before {
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 1px;
  }
}

@media only screen and (max-width:465px) {
  h1 {
    font-size: 2.5rem;
  }
}

/* xs devices */
@media only screen and (max-width:425px) {
  #board td {
    width: 1.125rem;
    height: 1.125rem;
  }

}
